/* wwwroot/css/site.css */

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
}

header {
    background-color: #333;
    color: white;
    padding: 1em 0;
}

nav {
    text-align: center;
}

    nav a {
        color: white;
        text-decoration: none;
        margin: 0 15px;
        padding: 5px 10px;
    }

        nav a:hover {
            background-color: #555;
            border-radius: 4px;
        }
